{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <b><a class="navbar-brand" href="{% url 'home' %}" style=" color: rgb(26, 128, 0);">OS LIBRARY</a></b>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'home' %}">Acceuil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Livres</a>
                        </li>
                        <li class="nav-item">
                            <button id="panier" type="button" class="btn btn-secondary" data-html="true" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                            sagittis lacus vel augue laoreet rutrum faucibus.">
                            0 <i class="fa-solid fa-cart-shopping"></i>
                            </button>
                          </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genre Littéraires
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>

        {% block content %}{% endblock%}
        <!-- <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Cras justo odio
              <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Dapibus ac facilisis in
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Morbi leo risus
              <span class="badge badge-primary badge-pill">1</span>
            </li>
          </ul> -->
    </div>
    </div>
</body>
<br><br><br><br><br>
<div style="width:100%;  position: relative; bottom:0; background: linear-gradient(to right, #00093c, #2d0b00); color: #fff; padding: 100px 0 30px; border-top-left-radius: 125px; font-size: 13px; line-height: 20px; ">
  <div class="row" style="width: 85%; margin: auto; display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: space-between ;">
      
      <div class="col-lg-2" style="flex-basis: 25%; padding: 10px;">
              <h3 style=" width: fit-content; margin-bottom: 40px; position: relative; color: olivedrab;">OS_BIBLIO<div class="underline" style="margin-top: 10px;">
              <span></span></div></h3>
              <p>7 Abou Youssef El Kindy, Casablanca 20250</p>
              <p class="email-id" style="width: fit-content; border-bottom: 1px solid #ccc; margin: 20px 0; ">OSemsi2023@gmail.com</p>
              <h4> 0663-876543</h4>
      </div>
      <div class="col-lg-2">
              <h3 style=" width: fit-content; margin-bottom: 40px; position: relative;">Liens <div class="underline" style="margin-top: 10px;">
              <span></span></div></h3>
              <ul>
                <li style="list-style: none; margin-bottom: 12px;"><a href="" style="text-decoration: none; color: #fff;">ACCEUIL</a></li>
                <li style="list-style: none; margin-bottom: 12px;"><a href="" style="text-decoration: none; color: #fff;">SERVICES</a></li>
                <li style="list-style: none; margin-bottom: 12px;"><a href="" style="text-decoration: none; color: #fff;">À PROPOS DE NOUS</a></li>
                <li style="list-style: none; margin-bottom: 12px;"><a href="" style="text-decoration: none; color: #fff;">CONTACTS</a></li>
              </ul>
      </div>
      <div class="col-lg-5">
            <h3 style=" width: fit-content; margin-bottom: 40px; position: relative;">Localisation<div class="underline" style="margin-top: 10px;">
            <span></span></div></h3>
            <iframe style="width: 95%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3371.090787984844!2d-7.630175089154247!3d33.59262144174927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d38340b29049%3A0xde05d3824336cfc4!2sEMSI%20MOULAY%20YOUSSEF!5e1!3m2!1sfr!2sma!4v1685005982343!5m2!1sfr!2sma" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-lg-3">
            <h3 style=" width: fit-content; margin-bottom: 40px; position: relative;">Lettre d'information <div class="underline" style="margin-top: 10px;"><span></span></div></h3>
            <form id="formind" style="padding-bottom: 15px; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #ccc; margin-bottom: 50px;">
                  <i class="fa-solid fa-envelope" style="font-size: 18px; margin-right: 10px;"></i>
                  <input type="email" placeholder="Entrer votre email" required="" style="width: 100%; background: transparent; color: #ccc;border: 0; outline: none;">
                  <button type="submit" style="background: transparent; border: 0; outline: none; cursor: pointer;"><i class="fa-solid fa-arrow-right" style="font-size: 16px; color: #ccc;"></i></button>
            </form>
            <div class="social-icons">
                <a href="https://www.emsi.ma/nos-campus/" target="_bak">
                  <i class="fa-brands fa-google" style="width: 40px; height: 40px; border-radius: 50%; text-align: center; line-height: 40px; font-size: 20px; color: #000; background: #fff; margin-right: 15px; cursor: pointer;"></i>
                </a> 
                <a href="https://www.facebook.com/emsi.ma/?locale=fr_FR" target="_bak">
                  <i class="fa-brands fa-facebook" style="width: 40px; height: 40px; border-radius: 50%; text-align: center; line-height: 40px; font-size: 20px; color: #000; background: #fff; margin-right: 15px; cursor: pointer;"></i>
                </a> 
                <a href="https://www.youtube.com/channel/UC5BiOBai2N48ytbCRQWWqJw" target="_bak">
                  <i class="fa-brands fa-youtube" style="width: 40px; height: 40px; border-radius: 50%; text-align: center; line-height: 40px; font-size: 20px; color: #000; background: #fff; margin-right: 15px; cursor: pointer;"></i>
                </a> 
                <a href="https://www.instagram.com/groupe.emsi/?hl=fr" target="_bak">
                  <i class="fa-brands fa-instagram" style="width: 40px; height: 40px; border-radius: 50%; text-align: center; line-height: 40px; font-size: 20px; color: #000; background: #fff; margin-right: 15px; cursor: pointer;"></i>
                </a>
              
            </div>
      </div>
  </div>
  <hr>
  <p class="copyright" style="text-align: center;">Emsi Moulay Youssef, ©2023</p>
</div>
{% block js %}{% endblock %}
</html>